.respectprivacy {
    background-color: #000;
    color: #f00;
    font-weight: bold;
    position: absolute;
    text-align: center;
}

@media (max-width:767px) {
    .respectprivacy {
        padding: 10px;
        top: 29%;
        left: 26%;
        right: 11%;
        bottom: 55%;
    }
}

@media (max-width:479px) {
    .respectprivacy {
        top: 14%;
        left: 15%;
        right: 25%;
        bottom: 75%;
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .respectprivacy {
        padding: 10px;
        position: absolute;
        top: 23%;
        left: 10%;
        right: 20%;
        bottom: 61%;
    }
}

@media (min-width:1200px) {
    .respectprivacy {
        padding: 20px;
        top: 20%;
        left: 30%;
        right: 20%;
        bottom: 64%;
    }
}

@media (max-width:1199px) {
    .row>div:not(:last-child) .videoCard {
        margin-bottom: 25px;
    }
}

/* modal */

.modal,
.modal h4 {
    color: #000;
}

/* loading screen */

#loading,
#loadingin {
    font-size: 26px;
    text-align: center;
    color: #525252;
}

#loading .waitmsg,
#loadingin .waitmsg {
    margin-top: 0%;
    margin-bottom: 30px;
}

#loading i,
#loadingin i {
    font-size: 64px;
    color: #e8ba3e;
}

#loading .prc,
#loadingin .prc {
    font-size: 54px;
    font-weight: bold;
    margin: 20px;
}

#loading .infomsg,
#loadingin .infomsg {
    font-size: 18px;
}

#loadingin {
    display: none;
    margin-bottom: 50px;
}

#modal-robot {
    line-height: 3em;
}

.anticlicker {
    position: absolute;
    left: 0;
    top: 0;
    right: 0px;
    bottom: 0px;
    z-index: 4;
}

.anticlicker-rewiev {
    position: absolute;
    left: 0;
    top: 0px;
    right: 0px;
    bottom: 35px;
    z-index: 4;
}

.up_sound {
    text-align: center;
    display: none;
    width: 166px;
    height: 38px;
    cursor: pointer;
    position: absolute;
    top: 18%;
    right: 38%;
    bottom: 0;
    z-index: 5;
    color: #fff;
    background-color: #000;
    padding-top: 8px;
    font-size: 16px;
}

#volume_up {
    position: absolute;
    z-index: 5;
    top: 25%;
    right: 37%;
    width: 24%;
    display: none;
    cursor: pointer;
}

.img_video {
    width: 100%;
    height: auto;
    min-height: 225px;
    min-width: 380px;
}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    /* padding-top: 25px; */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#apYou {
    position: absolute;
    width: 12%;
    bottom: 41%;
    right: 43%;
}
.play-btn:before{
    background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCI+PHBhdGggZD0iTS04MzgtMjIzMkg1NjJ2MzYwMEgtODM4di0zNjAweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xNiAxMHYyOGwyMi0xNC0yMi0xNHoiIGZpbGw9IiM5NWMxMWYiLz48L3N2Zz4=) no-repeat;
}